/* recorder.css */

#ziggeo-recorder .ziggeo-recorder-container { border: 1px solid #ccc; margin: 20px auto; padding: 20px 10px; width: 320px; height: auto; position: relative; }
#ziggeo-recorder .ziggeo-recorder-container .video-unit { width: 300px; height: 170px; margin: 10px auto; overflow: hidden;  }

#ziggeo-recorder .btn-default { color: #333; text-decoration: none; text-align: center; width: 80px; margin: 10px 10px 0 10px; background-color: #fff; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
#ziggeo-recorder .btn-outline { color: #666; text-decoration: none; text-align: center; padding: 0 16px; margin: 10px 10px 0 10px; background-color: transparent; border: 1px solid #fff; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
#ziggeo-recorder .btn-default.on { color: #fff; background-color: #c00; }
#ziggeo-recorder a.btn-default:hover { color: #fff; background-color: #f00; }
#ziggeo-recorder a.btn-outline:hover { border-color: #f00; }
#ziggeo-recorder .btn-default i.fa-circle { font-size: 11px; }

#ziggeo-recorder .ziggeo-recorder-container .ziggeo-help { font: 500 12px/15px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; text-align: right; }
#ziggeo-recorder .ziggeo-recorder-container .ziggeo-help a { font-size: 11px; color: #333; text-decoration: none; }
#ziggeo-recorder .ziggeo-recorder-container .ziggeo-help i { font-size: 14px; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard { position: absolute; background: transparent url(../assets/images/bg-tile.png) 0 0 repeat-x; width: 300px; height: 60px; bottom: 50px; z-index: 9999; /* opacity: .9; */ }
#ziggeo-recorder .ziggeo-recorder-container .dashboard p { font: 500 12px/30px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; margin-top: 10px; }

#ziggeo-recorder .ziggeo-recorder-container .dashboard .btn-link { text-decoration: none; margin: 10px 0 10px 10px; padding: 0 12px; line-height: 27px; height: 30px; color: #fff; border: 1px solid #ddd; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard a.btn-link:hover { background-color: #333; border: 1px solid #999; }

#ziggeo-recorder .ziggeo-recorder-container .dashboard .btn-link.settings.active, #ziggeo-recorder .ziggeo-recorder-container .dashboard .btn-link.mic.active { background-color: #333; border: 1px solid #999; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options { background-color: rgba(255, 255, 255, 0.8); position: absolute; max-width: 160px; bottom: 50px; padding: 10px 12px; border-radius: 3px; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options.mic { margin: 0 20px 0 60px; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options.settings { margin: 0 12px; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options .radio { font: 300 11px Arial, sans-serif; padding: 0 20px; margin: 0; color: #000; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options .radio input[type='radio'], label { vertical-align: middle; margin-top: 2px; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options.mic:after { content: ""; position: absolute; top: 100%; left: 20px; border-top: 10px solid blue; border-top-color: rgba(255, 255, 255, 0.8); border-left: 10px solid transparent; border-right: 10px solid transparent; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options.settings:after { content: ""; position: absolute; top: 100%; left: 6px; border-top: 10px solid blue; border-top-color: rgba(255, 255, 255, 0.8); border-left: 10px solid transparent; border-right: 10px solid transparent; }
/*#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options:after { content: ""; position: absolute; top: 100%; left: 2px; border-top: 10px solid blue; border-top-color: rgba(255, 255, 255, 0.8); border-left: 10px solid transparent; border-right: 10px solid transparent; }*/
#ziggeo-recorder .ziggeo-recorder-container .dashboard .input-options button.btn-default.btn-xs { margin: 4px 0; padding: 6px 20px; color: #000; background-color: #bbb; border-radius: 3px; font: 300 11px Arial, sans-serif; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .disable  { display: none; }


#ziggeo-recorder .ziggeo-recorder-container .dashboard .btn-link .help-text { position: relative; display: none; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard a.btn-link:hover .help-text { font: 500 10px/12px Helvetica, Arial; color: #000; position: absolute; top: 64px; margin-left: -20px; max-width: 210px; display: block; padding: 6px; background-color: #fff; opacity: .8; z-index: 99999; }

#ziggeo-recorder .ziggeo-recorder-container .dashboard .btn-link i.fa-circle { font-size: 11px; color: #3f3; }
#ziggeo-recorder .ziggeo-recorder-container .dashboard .btn-link i.fa-circle.off { color: #f00; }


/* Start Screen */
#ziggeo-recorder .ziggeo-recorder-container.start-screen { background-color: #b4e0e3; text-align: center; }
#ziggeo-recorder .ziggeo-recorder-container.start-screen .hero-img { margin: 28px auto 0 auto; display: block; font-size: 48px; color: #fff; }
#ziggeo-recorder .ziggeo-recorder-container.start-screen p { font: 500 12px/15px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }
#ziggeo-recorder .ziggeo-recorder-container.start-screen p a { color: #333; font-size: 11px; }
#ziggeo-recorder .ziggeo-recorder-container.start-screen p a i { color: #2ab; }
#ziggeo-recorder .ziggeo-recorder-container.start-screen .btn-primary { background-color: #ed4723; display: block; font: 300 16px/38px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; height: 40px; width: 160px; margin: 0 auto 30px auto; border-radius: 3px; }
#ziggeo-recorder .ziggeo-recorder-container.start-screen .btn-primary:hover { text-decoration: none; background-color: #c00;}

/* Tutorial */
#ziggeo-recorder .ziggeo-recorder-container.tutorial p { color #444; font: 11px/14px Arial, sans-serif; margin: 0 0 10px 0; }
#ziggeo-recorder .ziggeo-recorder-container.tutorial strong { color: #000; }
#ziggeo-recorder .ziggeo-recorder-container.tutorial a { color: #ed4723; }
#ziggeo-recorder .ziggeo-recorder-container.tutorial .heading { text-transform: uppercase; font-weight: 700; color: #000; }
#ziggeo-recorder .ziggeo-recorder-container.tutorial ul { margin: 0 0 10px 0; padding: 0; font: 11px/14px Arial, sans-serif; }
#ziggeo-recorder .ziggeo-recorder-container.tutorial ul li { margin: 0 0 6px 0; padding: 0 0 0 1em; text-indent: -1em; list-style-type: circle; list-style-position: inside; }

/* Thumbnail Grid */
#ziggeo-recorder .ziggeo-recorder-container .video-unit.thumbnail-wrapper { background-color: #b4e0e3; padding: 0 10px; text-align: center; }
#ziggeo-recorder .ziggeo-recorder-container .video-unit.thumbnail-wrapper .pic { border: 2px solid #b4e0e3; display: inline-block; margin: 0 -2px; padding: 0; }
#ziggeo-recorder .ziggeo-recorder-container .video-unit.thumbnail-wrapper .pic img { border: none; width: 89px; height: 50px; }
#ziggeo-recorder .ziggeo-recorder-container .video-unit.thumbnail-wrapper a.pic:hover { border: 2px solid #2ab; }
#ziggeo-recorder .ziggeo-recorder-container .video-unit.thumbnail-wrapper p { color: #aaa; font: 500 12px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }
#ziggeo-recorder .ziggeo-recorder-container .video-unit.thumbnail-wrapper h4 { font: 300 16px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

/* Spinner Wrapper */ 
#ziggeo-recorder .ziggeo-recorder-container .video-unit.spinner-wrapper { background-color: #b4e0e3; text-align: center; }
#ziggeo-recorder .ziggeo-recorder-container .video-unit.spinner-wrapper h4 { font: 300 16px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; margin: 20px 0 0 0; }

/* Spinner */
/* The MIT License (MIT) Copyright (c) 2014 Tobias Ahlin */
/* https://github.com/tobiasahlin/SpinKit */
.spinner { margin: 40px auto; width: 50px; height: 30px; text-align: center; font-size: 10px; }
.spinner > div { background-color: #fff; height: 100%; width: 6px; display: inline-block; -webkit-animation: stretchdelay 1.2s infinite ease-in-out; animation: stretchdelay 1.2s infinite ease-in-out; }
.spinner .rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.spinner .rect3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
.spinner .rect4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.spinner .rect5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
@-webkit-keyframes stretchdelay { 0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  20% { -webkit-transform: scaleY(1.0) }}}





